@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

nav ul li > a {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

/*HEADER*/
h1{
    text-align: center;
    margin: 20px 35px;
    font-size: 50px;
    text-transform: none;
    color: azure;
    margin-top: 5%;
    text-shadow: 5px 3px 0px black;

    box-shadow:   15px 10px 10px 10px rgba(0,13,2,.5); /*x y contraste difusion-q aumneta la potencia d la sombra*/
} 
h1::after,h1::before{
    content: attr(title);
    background: yellow;
    color: red;
    margin: 0 10px;
    border-radius: 50px;
    padding: 0 3px;
}
h1 a{
    text-decoration: none;
    color: azure;
}
header section >  h2{
    text-align: center; 
    font-family: 'Roboto Slab', serif;

    margin: 35px 15px 0 15px;
    box-shadow: 0px 0px 15px black;

}

header h3{
    margin: 20px 15px 0 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    box-shadow: 0px 0px 15px black;
}

header section   img{
    margin: 6px 14px ; width: 270px; height: 130px;
}


/*Fin HEADER*/

h3{
    margin: 2px 2px;
    text-align: center;

}

.parrafo-index p {
    font-family: 'Roboto Slab', serif;
    margin: 10px 10px;
    padding: 20px;
    text-align: left;
    border: 8px double brown;
    box-shadow: 0px 0px 15px black; 
}
 
.parrafo-index p::first-letter{
    font-size: 40px;
    background: white;
    color: tomato;
    float: left;
    margin: 10px;
    padding: 10px;
    font-family: 'Satisfy', cursive;
} 
 
article h2{
    text-align: center;
    font-family: 'alex', sans-serif;
    text-decoration: none;
    background: linear-gradient(to left, white, brown);
    margin: 10px auto;

}
article h2 > a{
    color: black;
}
article h2 > a:hover{
    color: white;
    background: black;
}
article h2 > a:hover::after{
    content: '(Click here)';
    margin-left: 2px;
    font-size: 10pX;
    color: aqua;
    font-family: 'Open Sans', sans-serif;
}


/*parte ASIDEs*//*parte ASIDEs*/
/*parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*/

main aside  > h2{
    text-align: center;
    margin-top: 2px;
    font-family: 'alex', sans-serif;
}
main aside > h3{
    text-align: center;
    font-family: 'alex', sans-serif;
    font-size: 24px;
    margin-top: 35px;
    background: linear-gradient(to right, white, green);
    box-shadow: 0px 0px 15px black;
}
main aside > h3:hover{
    background: linear-gradient(to left, white, green);
    font-size: 26px;
    cursor: pointer;
}

main aside h3 > a {
    text-decoration: none;
    color: black;
}
/* FIIIIIN parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*/
/*parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*//*parte ASIDEs*/

.content-videos div{
    display: inline-block;
    margin: 1px 5px;
    width: 236px; height: 145px;
}

/*PIE*/
footer h2{
    font-family: open-sans, sans-serif;
    font-size: 16px;
    margin: 15px auto;
}
/*fin PIE*/


/*TALKING ABOUT*/
.content-all2{
    position: absolute;
    margin-top: 20%;
    width: 56%;
}


 
/*grammar 2*/
div.lista1{
    background: #ffffff;
    margin: 10px auto;
    padding: 10px;

}

.lista1 li:nth-child(odd){
    background: none repeat scroll 0 0 #FF0000;
}
.lista1 ul{
    float: left;
    width: 48%;
    margin: 5px 5px;
}
.lista1 ul li{
    border: 1px solid #DDDDDD;
    list-style-type: none;
    margin: 2px 50px 2px 0;
    padding: 5px 10px;
    width: 100%;


}



