     /*carrousel */
      .content-all{
    width: 300px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 50px;
   
}
   
 .content-carrousel{width: 91%; position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;}
 .content-carrousel:hover{ 
    animation-play-state: paused;
    cursor: pointer;
     }

 .content-carrousel figure{width: 85%;height: 90px; overflow: hidden; position: absolute;
box-shadow: 0px 0px 20px 0px black}
  .content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}


 .content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
 .content-carrousel figure:nth-child(2){transform: rotateY(51deg) translateZ(300px);}
 .content-carrousel figure:nth-child(3){transform: rotateY(102deg) translateZ(300px);}
 .content-carrousel figure:nth-child(4){transform: rotateY(153deg) translateZ(300px);}
 .content-carrousel figure:nth-child(5){transform: rotateY(204deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(255deg) translateZ(300px);}
 .content-carrousel figure:nth-child(7){transform: rotateY(306deg) translateZ(300px);}

  .content-carrousel img{width: 100%; transition: all 300ms; }
  .content-carrousel img:hover{transform:scale(1.5);}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
         transform: rotateY(360deg);
    }
}
    
